<div class="grid-80 mod-blogpage">
  <div class="blog-bg-main hide">
  </div>
  <div class="mod-text-content mod-post-content mod-cs-contentblock">
    <div class="cs-contentblock-bg">
    </div>
    <div class="content-head clearfix">
      <div class="content-other-info">
        <span>
          {{page.date}}
        </span>
      </div>
      <h2 class="title content-title">
        {{page.title}}
      </h2>
    </div>
    <div id="content" class="content mod-cs-content text-content clearfix">
        {{content}}
    </div>
    <div class="mod-tagbox clearfix">
    </div>
    <div class="mod-post-info clearfix">
      <div class="x-bdshare">
  
      </div>

    </div>
  </div>
  <div class="mod-share-detail" id="shareDetail" style="display:none">
  </div>
  <div class="mod-relate-blogs" id="relateBlog">
    <h3 class="relate-title">
      你可能也喜欢
    </h3>
    
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    
  </div><!--relate-blogs-->
  
<div class="mod-detail-pager clearfix">  
  <div class="detail-nav-pre"> 
    <a href="http://hi.baidu.com/matrixspk/item/d7109ad32a4bb3ff93a97415" hidefocus="" title="上一篇">
    </a> 
  </div>   
  <div class="detail-nav-next"> 
    <a href="http://hi.baidu.com/matrixspk/item/f3cd7e7297790e3f6e29f636" hidefocus="" title="下一篇">
    </a> 
  </div>  
